# FastAPI core
fastapi
uvicorn

# LangChain
langchain
langchain-core
langchain-community

# Optional integrations (comment out unless needed)
langchain-groq
langchain-huggingface
# langchain-google-genai
langchain-unstructured
langchain-exa
langchain-tavily

# Vector DB (lightweight only if you use it)
faiss-cpu

# Embeddings
sentence-transformers

# Document loaders
pymupdf
beautifulsoup4
docx2txt
lxml-html-clean
newspaper3k

# Utils
python-dotenv
httpx
pydantic
ddgs
firecrawl-py
