fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-google-genai
langchain-unstructured
langchain-exa
langchain-tavily
huggingface_hub[hf_xet]
faiss-cpu
PyMuPDF
newspaper3k
lxml-html-clean 
beautifulsoup4
docx2txt
json5
pdf2image
python-dotenv
httpx
pydantic
ddgs 
firecrawl-py
pymupdf
python-multipart